[Unit]
Description=Mr. Will Movies Discord Bot

[Service]
WorkingDirectory=/opt/mr_movies
ExecStart=/bin/node /opt/mr_movies/app.js

[Install]
WantedBy=multi-user.target